html, body {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 41, 41);
}
.edit {
  height: 100vh;
  align-content: center;
}

.calculator { 
  background-color: black;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 0.375rem;
  width: 190px;
  height: 254px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 10px;
}

.output {
  background-color: gray;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.result {
  font-size: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

button {
  border: none;
  border-radius: 0.375rem;
  padding: 10px;
  background-color: #eba103;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}

.bg_green {
  background-color: rgba(0, 177, 29, 0.651);
  color: white;
}

.bg_green:hover {
  background-color: rgba(0, 231, 39, 0.651);
  color: white;
}

.bg_red {
  background-color: rgba(223, 4, 4, 0.651);
  color: white;
}

.bg_red:hover {
  background-color: rgba(255, 1, 1, 0.651);
  color: white;
}