body {
    background-color: rgb(28, 28, 37);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

label {
    display: block;
}

div {
    display: block;
    width: auto;
    height: auto;
    align-items: center;
    justify-items: center;
}

nav a{
    
    color: white;
    text-decoration: none;
    :visited {
        color: white;
    }
    
    
}

nav a:hover {
    color: rgb(199, 199, 199);
}

nav a:active {
    color: rgb(223, 223, 223);
}