* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  background-color: rgb(18, 16, 20);
  color: rgb(228, 228, 228);
  text-align: center;

  min-height: 100vh;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

header, main {
  position: relative;
  z-index: 2;
}

header {
  margin-top: 20px;
}

nav {
  margin-top: 5px;
}

a {
  margin: 10px;
  color: rgb(28, 241, 28);
  text-decoration: none;
  transition: 200ms;
  display: inline-block;
}

a:hover {
  transform: scale(1.1);
}

main {
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba(20, 20, 20, 0.85);
  padding: 20px;

  width: min(90%, 450px);
  min-height: 70px;

  border-radius: 15px;
  backdrop-filter: blur(4px);
}

@media (max-width: 600px) {

  header h1 {
    font-size: 20px;
  }

  main {
    margin: 40px auto;
    padding: 15px;
  }

  a {
    font-size: 16px;
    margin: 8px;
  }
}
