* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: red;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

#title {
    width: fit-content;
    text-align: start;
    margin-bottom: 0px;
    padding-left: 5px;
    border: 0px hidden;
}

#menu-bar {
    cursor: move;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid red;
}

#bar-deco {
    margin-right: 5px;
}

#bar-deco button {
    color: red;
    background-color: black;
    border: 1px outset red;
}

#main-sec {
    position: absolute;
    height: 86vh;
    width: 45vw;
    border: 1px outset red;
}

#start div {
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}

#logo img{
    background-color: white;
    height: 300px;
    opacity: 0;
    position: relative;
    user-select: none;
    transition: ease 5s;
    z-index: 9999;
}

.boot-screen {
    user-select: none;
    position: fixed;
    background-color: black;
    height: 100%;
    width: 100%;
    transition: ease 1s;
    z-index: 10;
}

#logo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#logo.show img{
    opacity: 1;
}

.boot-screen.remove{
    translate: 0 100vh;
}

#tools {
    display: flex;
}

#tools a {
    text-align: center;
    margin: 10px;
    color: red;
    display: block;
    height: 55px;
    width: 55px;
}

.icon {
    border: 2px outset red;
    background-color: red;
    color: black;
    font-size: 45px;
}

.icon:hover {
    background-color: rgb(255, 19, 19);
    box-shadow: 0px 0px 15px 1px red;
}

small {
    color: rgb(92, 0, 0);
}